body {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #BFE2CA;
}
a {
	text-decoration: none !important;;
}
.transparent {
	opacity: 0.6;
}
.myicon {
	font-size: 1.3em;
}
.c_light {
	background-color: #D0E2EC;
}
.c_blue {
	background-color: #A6DAEF;
}
.c_yellow {
	background-color: #F0E0A2;
}
.c_red {
	background-color: #FED1BE;
}
.c_purple {
	background-color: #BFB1D5;
}
.c_brown {
	background-color: #D3B9AA;
}
.c_main {
	background-color: #BFE2CA;
}
.c_dirty {
	background-color: #8BACBD;
}
.imgicon {
	min-width: 30px;
	width: 30px;
	max-width: 30px;
	min-height: 30px;
	height: 30px;
	max-height: 30px;
	overflow:hidden;
	cursor: pointer;
	display: inline-block;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
