---
layout: official
title: Ilja Tkachuk
---



<!-- Modal HTML embedded directly into document -->
<div id="pdf_popup" class="modal">
  <form>
    <fieldset>
      <legend>What to include into CV</legend>
      <br/>

      {% for property in site.data.pdf_popup %}
        <input
          type="checkbox"
          checked="checked"
          onChange="{{ property.onchange }}"/>
            <span>{{ property.title }}</span>
            <br/>
            <br/>
      {% endfor %}

      <button type="button" onClick="html2pdf(document.getElementById('cv'), {margin: 10})">
        <strong>
          Download CV as PDF
        </strong>
      </button>

    </fieldset>
  </form>
</div>



<!-- Link to open the modal -->
<p><a href="index.html" target="_blank">Back to homepage</a></p>
<p><a href="#pdf_popup" rel="modal:open">Download CV as PDF</a></p>


<!-- CV -->
<article id="cv">

  <h1>Ilja Tkachuk</h1>
  <p class="subtitle">Erlang, Elixir, OTP developer. Functional programming enthusiast.</p>

  <section id="short_facts">
    <ul>
      {% for property in site.data.short_facts %}
        <li>
          <strong>{{ property[0] }}</strong>:
          <i>{{ property[1] }}</i>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="summary">
    <h2>Summary</h2>

    <p>
      I have been programming since 2012. At the beginning I had some experience of development in imperative languages like C++ and JavaScript, but I did well only when I switched to functional languages like Erlang and Elixir.
    </p>

    <p>
      Today my main skill is functional backend programming and I'm strong expert in BEAM/Erlang VM platform, Erlang and Elixir languages. I have strong understanding of multithreading and interaction between Erlang processes. Of course in commercial development I'm using mainstream frameworks like OTP, Phoenix and Ecto.
    </p>

    <p>
      Future plans - to become more familiar with static-typed functional languages like Haskell. If static-typed languages for BEAM/Erlang VM like Elchemy or Alpaca will be successful - I will be happy to switch.
    </p>
  </section>

  <section id="preferences_positive">
    <h2>Things I do like</h2>

    {% for pref in site.data.preferences_positive %}
      <h3>{{ pref.title }}</h3>
      <p>{{ pref.note }}</p>
    {% endfor %}
  </section>

  <section id="preferences_negative">
    <h2>Things I do NOT like</h2>

    {% for pref in site.data.preferences_negative %}
      <h3>{{ pref.title }}</h3>
      <p>{{ pref.note }}</p>
    {% endfor %}
  </section>

  <section id="skills">
    <h2>Skills</h2>

    <ul>
      {% for tech in site.data.technologies %}
        <li>
          <strong>{{ tech[1].name }}</strong>:
          <i>
            {% if tech[1].skill > 85 %}
              expert
            {% elsif tech[1].skill > 40 %}
              advanced
            {% else %}
              beginner
            {% endif %}
          </i>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="code">
    <h2>Code examples</h2>

    <ul>
      {% for project in site.data.projects %}
        <li>
          <strong>
            <a href={{ project.github }} target="_blank">
              {{project.name}}
            </a>
          </strong>
          {% assign tech_length = project.technologies | size %}
          {% if tech_length != 0 %}
            <i>
              (
                {% for tech in project.technologies %}
                  {{tech}}
                {% endfor %}
              )
            </i>
          {% endif %}
          <span>{{project.description}}</span>
          {% if project.demo %}
            <i>
              <strong>
                (<a href={{ project.demo }} target="_blank">demo</a>)
              </strong>
            </i>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="contacts">
    <h2>Contacts</h2>

    <ul>
      {% for contact in site.data.contacts %}
        <li>
          <strong>{{ contact.title }}</strong>:
          <i>{{ contact.value }}</i>
        </li>
      {% endfor %}
      <li>
        <strong>Homepage</strong>:
        <i><a href="https://timcf.github.io" target="_blank">https://timcf.github.io</a></i>
      </li>
    </ul>
  </section>

</article>
