---
layout: default
title: person
---
<div>
	<div class="panel-group inithidden" id="accordion" name="baseblock">

		<div class="panel panel-default c_main_light">
			<a data-toggle="collapse" data-parent="#accordion" href="#person_summary">
				<div class="panel-heading">
				<h4 class="panel-title bigfont"> summary </h4>
				</div>
			</a>
			<div id="person_summary" class="panel-collapse collapse inithidden" name="baseblock">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							{% for property in site.data.personal %}
								{% assign color = forloop.index | modulo:6 %}
								<div class="col-xs-4 {{ site.data.colors[color] }} fadefast inithidden" name="colorblock">
									<h4>
										<i>{{ property[0] }}</i>
										<br>
										<b><div name="blocktext">{{ property[1] }}</div></b>
									</h4>
								</div>
							{% endfor %}
							<div class="col-xs-12 no-margin-padding">
								<h3 class="no-margin-padding text-justify inithidden">
									<img src="/img/ava/ava1.jpg" class="floatleft inithidden" data-toggle="modal" data-target="#ava1"/>
									Hello, my name is Ilya.
									I have been programming since 2012 (functional style since 2013).
									My main skill is functional backend programming.
									Web programming. Building API. I can integrate anything with anything in the web.
									I have rich experience in development for BEAM/Erlang VM using OTP.
									I prefer Elixir language, but can write in pure Erlang if needed.
									But I think Elixir is better, Elixir for Erlang is like Scala or Clojure for Java - it gives
									full access to Erlang infrastructure, to all Erlang libraries and OTP,
									and gives some extra features like powerful LISP-like meta-programming and better syntax.
									Have experience in development for UNIX-like OS. Have experience in MySQL, NoSQL.
									Use GIT in development process. Have experience in RabbitMQ.
									I really love functional programming, it's easy, clear and powerful.
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default c_main_light">
			<a data-toggle="collapse" data-parent="#accordion" href="#person_skills">
				<div class="panel-heading">
				<h4 class="panel-title bigfont"> skills </h4>
				</div>
			</a>
			<div id="person_skills" class="panel-collapse collapse inithidden" name="baseblock">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							{% for tech in site.data.technologies %}
								{% assign color = forloop.index | modulo:6 %}
								<div class="col-xs-4 {{ site.data.colors[color] }} fadefast pointer inithidden" name="colorblock" onclick="window.open('{{ tech[1].site }}')">
									<h4>
										<i>{{ tech[0] }}</i>
										<br>
										<img class="imgicon" name="blockimg" src="{{ tech[1].icon }}" data-toggle="tooltip" data-placement="top" title="{{ tech[1].hint }}"/>
										<br>
										<b><div name="blocktext">{{ tech[1].level }}</div></b>
									</h4>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default c_main_light">
			<a data-toggle="collapse" data-parent="#accordion" href="#person_music">
				<div class="panel-heading">
				<h4 class="panel-title bigfont"> music </h4>
				</div>
			</a>
			<div id="person_music" class="panel-collapse collapse inithidden" name="baseblock">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 no-margin-padding">
								<h3 class="no-margin-padding text-justify inithidden">
									<img src="/img/ava/ava2.jpg" class="floatleft inithidden" data-toggle="modal" data-target="#ava2"/>
									I have been playing guitar since 2007.
									It's only hobbie, but I was played in some professional bands, for example <a href="http://www.last.fm/ru/music/%D0%91%D0%B5%D0%B7%D0%B4%D0%BD%D0%B0+%D0%90%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE+%D0%A3%D0%B3%D0%BD%D0%B5%D1%82%D0%B5%D0%BD%D0%B8%D1%8F" target="_blank">this one</a>.
									I like different kind of music, but play good in blues and rock styles.
									Favorite guitar is Gibson SG / Gibson Les Paul, aplifier - Carvin V3.
									Favorite processors and music hardware label is Line 6.
									Now I'm not playing very much because of my main work.
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default c_main_light">
			<a data-toggle="collapse" data-parent="#accordion" href="#erlang_universe">
				<div class="panel-heading">
				<h4 class="panel-title bigfont"> erlang universe </h4>
				</div>
			</a>
			<div id="erlang_universe" class="panel-collapse collapse inithidden" name="baseblock">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 no-margin-padding">
								<h3 class="no-margin-padding text-justify inithidden">
									<img src="/img/lfe-logo.png" class="floatleft inithidden" width="10%" data-toggle="modal" data-target="#lfe"/>
									From time to time I'm giving lectures related to different aspects of Erlang VM.
									You can find slides <a href="https://timcf.github.io/erlang-universe/index.html#1" target="_blank">here</a>.
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Modal -->
<div class="modal fade transparent" id="ava1">
	<div class="modal-dialog">
		<img class="widthlimited" src="/img/ava/ava1.jpg"/>
	</div>
</div>
<div class="modal fade transparent" id="ava2">
	<div class="modal-dialog">
		<img class="widthlimited" src="/img/ava/ava2.jpg"/>
	</div>
</div>
<div class="modal fade transparent" id="lfe">
	<div class="modal-dialog">
		<img class="widthlimited" src="/img/lfe-logo.png"/>
	</div>
</div>
