<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top transparent text-center">
			<a href="#"><span class="glyphicon glyphicon-home navbar-btn myicon"></span></a>
		</nav>

		<div class="text-center"> {{ content }} </div>

		<nav class="navbar navbar-default navbar-fixed-bottom transparent text-center">
			<a href="mailto:llStrainll@gmail.com"><button type="button" class="btn btn-success navbar-btn">llStrainll@gmail.com</button></a>
			<a href="https://github.com/timCF" target="_blank"><button type="button" class="btn btn-warning navbar-btn">github</button></a>
		</nav>
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	</body>
</html>
