<!DOCTYPE html>
<html lang="en">
  {% assign version = site.time | date_to_xmlschema | cgi_escape %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ site.data.content.my_subtitle }}">
    <meta name="keywords" content="software,development,haskell,yesod,static,types">
    <meta name="author" content="Ilja Tkachuk">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/tufte-css/tufte.css?version={{ version }}"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-modal/jquery.modal.min.css?version={{ version }}"/>
    <link rel="shortcut icon" href="/favicon.ico?version={{ version }}"/>
  </head>
  <body>

    <div> {{ content }} </div>

    <script src="/bower_components/jquery/dist/jquery.js?version={{ version }}"></script>
    <script src="/bower_components/jquery-modal/jquery.modal.min.js?version={{ version }}"></script>
    <script src="/js/jspdf.min.js?version={{ version }}"></script>
    <script src="/js/official.js?version={{ version }}"></script>
  </body>
</html>
